CLIENT_ID=client-id
CLIENT_SECRET=openskiapi_url
KAFKA_SERVER=127.0.0.1:9092
KAFKA_TOPIC=topic-name

S3_BUCKET=your-bucket-name
RDS_HOST=your-rds-endpoint
RDS_USER=admin
RDS_PASSWORD=
OPENSKY_API_URL=https://opensky-network.org/api/states/all